# Constraints for reference design 's3esk_startup'.
#
# Revision C of the Spartan-3E Starter Kit.
#
# Ken Chapman - Xilinx Ltd - January 2006
#                          
# Revised 16th February 2006
#
# Period constraint for 50MHz operation
#
NET "clk" PERIOD = 20.0ns HIGH 50% | LOC = "C9" | IOSTANDARD =  LVDS_25; 

NET "lcd_d<4>"  LOC = "R15" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 2 ; 
NET "lcd_d<5>"  LOC = "R16" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 2 ; 
NET "lcd_d<6>"  LOC = "P17" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 2 ; 
NET "lcd_d<7>"  LOC = "M15" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 2 ; 
NET "lcd_e"  LOC = "M18" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 2 ; 
NET "lcd_rs"  LOC = "L18" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 2 ; 
NET "lcd_rw"  LOC = "L17" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 2 ; 

NET "led<0>"  LOC = "F12" | IOSTANDARD = SSTL2_I ; 
NET "led<1>"  LOC = "E12" | IOSTANDARD = SSTL2_I ; 
NET "led<2>"  LOC = "E11" | IOSTANDARD = SSTL2_I ; 
NET "led<3>"  LOC = "F11" | IOSTANDARD = SSTL2_I ; 
NET "led<4>"  LOC = "C11" | IOSTANDARD = SSTL2_I ; 
NET "led<5>"  LOC = "D11" | IOSTANDARD = SSTL2_I ; 
NET "led<6>"  LOC = "E9" | IOSTANDARD = SSTL2_I ; 
NET "led<7>"  LOC = "F9" | IOSTANDARD = SSTL2_I ; 

#NET "led<0>"  LOC = "F12" | IOSTANDARD = LVTTL ; 
#NET "led<1>"  LOC = "E12" | IOSTANDARD = LVTTL ; 
#NET "led<2>"  LOC = "E11" | IOSTANDARD = LVTTL ; 
#NET "led<3>"  LOC = "F11" | IOSTANDARD = LVTTL ; 
#NET "led<4>"  LOC = "C11" | IOSTANDARD = LVTTL ; 
#NET "led<5>"  LOC = "D11" | IOSTANDARD = LVTTL ; 
#NET "led<6>"  LOC = "E9" | IOSTANDARD = LVTTL ; 
#NET "led<7>"  LOC = "F9" | IOSTANDARD = LVTTL ; 



NET "strataflash_ce"  LOC = "D16" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 2 ; 
NET "strataflash_oe"  LOC = "C18" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 2 ; 
NET "strataflash_we"  LOC = "D17" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 2 ; 
#
NET "switch<0>"  LOC = "L13" | IOSTANDARD = LVTTL  | PULLUP ; 
NET "switch<1>"  LOC = "L14" | IOSTANDARD = LVTTL  | PULLUP ; 
NET "switch<2>"  LOC = "H18" | IOSTANDARD = LVTTL  | PULLUP ; 
NET "switch<3>"  LOC = "N17" | IOSTANDARD = LVTTL  | PULLUP ; 

NET "tx_pin_p"  LOC = "C7" | IOSTANDARD = LVDS_25 ; 
NET "rx_pin_p"  LOC = "E8" | IOSTANDARD = LVDS_25 ; 
#
#NET "tx_pin"  LOC = "D7" | IOSTANDARD = LVTTL | DRIVE = 4; 
#NET "rx_pin"  LOC = "F8" | IOSTANDARD = LVTTL | DRIVE = 4; 